#body 
  {
  margin:0px;
  padding:0px;
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #035988;
  }
#Main-container
  {
  height:85%;
  width:90%;
  border:5px solid #023753;
  background-color:#12628c;
  border-radius: 10px;
  }
#top-most-buttons
  {
  display: flex;
  justify-content:space-between;
  }
#A-E-btn,#D-E-btn
  {
  background-color: skyblue;
  }
#M-E-btn
{
background-color:skyblue;
border:2px solid black;
border-radius: 10px;
font-size:15px;
height:40px;
width:150px;
}
label
{
  font-size:18px;
}
#Theme-container
{
background-color:skyblue;
border:2px solid black;
border-radius: 10px;
height:40px;
width:150px;
font-size:19px;
font-weight: lighter;
display:flex;
justify-content: center;
align-items: center;
}
#theme-selector
{
border:0;
font-size:16px;
background-color:skyblue;
outline: none;
}
.upper-btn
{
height:50px;
width:90px;
border:4px solid #035988;
font-size:14px;
border-radius: 10px;
}
#T-E-btn
{
font-weight: bolder;
background-color: #7c97a5;
width:100px;
}
#save
  {
  background-color: orange;
  border-radius: 10px;
  font-size: 14px;
  width:19%;
  }
#container 
  {
  height:90%;
  width:100%; 
  }
#upper-buttons
  {
  display: flex;
  justify-content: space-between;
  margin:2vh 0 2vh 0;
  }
#Information
  {
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-top:5%;
  height:65%;
  gap:40px;
  }
#ExpenseDes 
  {
  height:100%;
  width:50%;
  background-color:skyblue;
  text-align: center;
  border:5px solid black;
  border-radius: 10px;
  }
#Amount
  {
  background-color:skyblue;
  height:100%;
  width:40%;
  border:5px solid black;
  border-radius: 10px;
  text-align: center;
  }
.Description
  {
  width:95%;
  margin:2px 0px 2px 0px;
  text-align: start;
  background-color:skyblue;
  border-radius: 10px;
  border:2px solid #035988;
  }
.Amount
  {
  width:95%;
  margin:2px 0px 2px 0px;
  text-align: center;
  background-color:skyblue;
  border-radius: 10px;
  border:2px solid #035988;
  }
#lowerbtns
  {
  display:flex;
  align-items: center;
  justify-content:space-between;
  }
#Total
  {
  background-color: green;
  width:50%;
  border:5px solid darkgreen;
  border-radius:10px;
  text-align: center;
  margin-top:20px;
  }
#Total-Amount
  {
  background-color:green;
  width:40%;
  border:5px solid darkgreen;
  border-radius:10px;
  text-align: center;
  margin-top:20px;
  }
