#body 
  {
  margin:0px;
  padding:0px;
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEAE0;
  }
#Main-container
  {
  height:85%;
  width:90%;
  border:5px solid #F5F5DC;
  background-color:#F9F6EE;
  border-radius: 10px;
  }
#top-most-buttons
  {
  margin-top:0.5%;
  display: flex;
  justify-content:space-between;
  }
#A-E-btn,#D-E-btn
  {
  background-color: ivory;
  }
#M-E-btn
{
background-color:ivory;
border:2px solid #F5F5DC;
border-radius: 10px;
font-size:15px;
height:40px;
width:150px;
}
label
{
  font-size:18px;
}
#Theme-container
{
background-color:ivory;
border:2px solid #F5F5DC;
border-radius: 10px;
height:40px;
width:150px;
font-size:19px;
font-weight: lighter;
display:flex;
justify-content: center;
align-items: center;
}
#theme-selector
{
border:0;
font-size:16px;
background-color:ivory;
outline: none;
}
.upper-btn
{
height:50px;
width:90px;
border:4px solid #F5F5DC;
font-size:14px;
border-radius: 10px;
}
#T-E-btn
{
font-weight: bolder;
background-color: #fffdd0;
width:100px;
}
#save
  {
  background-color: orange;
  border-radius: 10px;
  font-size: 14px;
  width:19%;
  }
#container 
  {
  height:90%;
  width:100%; 
  }
#upper-buttons
  {
  display: flex;
  justify-content: space-between;
  margin:2vh 0 2vh 0;
  }
#Information
  {
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-top:5%;
  height:65%;
  gap:40px;
  }
  p
  {
  width:100%;
  font-weight: bolder;
  }
#ExpenseDes 
  {
  height:100%;
  width:50%;
  margin-left:1%;
  background-color:white;
  text-align: center;
  border:5px solid #F5F5DC;
  border-radius: 10px;
  overflow-y:scroll;
  scrollbar-width: none;
  -ms-overflor-style:none;
  }
#ExpenseDes::-webkit-scrollbar
  {
  display:none;
  }
  #Amount
  {
  background-color:white;
  height:100%;
  width:40%;
  margin-right: 1%;
  border:5px solid #F5F5DC;
  border-radius: 10px;
  text-align: center;
  overflow-y:scroll;
  scrollbar-width: none;
  -ms-overflor-style:none;
  }
#Amount::-webkit-scrollbar
  {
  display: none;
  }
.Description
  {
  width:95%;
  margin:2px 0px 2px 0px;
  text-align: start;
  background-color:white;
  border-radius: 10px;
  border:2px solid #E9DCC9;
  outline: none;
  }
.Description:focus
{
  transition:0.6s;
  background-color:rgba(209, 199, 199, 0.795);
}
.Amount
  {
  width:95%;
  margin:2px 0px 2px 0px;
  text-align: center;
  background-color:white;
  border-radius: 10px;
  border:2px solid #E9DCC9;
  outline: none;
  }
.Amount:focus
  {
    transition:0.6s;
    background-color:rgba(209, 199, 199, 0.795);
  }
#lowerbtns
  {
  display:flex;
  align-items: center;
  justify-content:space-between;
  }
#Total
  {
  background-color: #FAF9F6;
  width:50%;
  margin-left:1%;
  border:3px solid #E9DCC9 ;
  border-radius:10px;
  text-align: center;
  margin-top:20px;
  }
#Total-Amount
  {
  background-color:#FAF9F6;
  width:40%;
  margin-right:1%;
  border:3px solid #E9DCC9;
  border-radius:10px;
  text-align: center;
  margin-top:20px;
  }
